body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-box {
    height: 100vh;
    background-color: black;
}

.calculator {
    margin: 0 auto;
    min-width: 310px;
    max-width: 30%;
    height: 100%;
    font-size: 22px;
}

.display {
    text-align: end;
    min-height: 50px;
    width: auto;
    word-wrap: break-word;
}

.result {
    height: 65px;
    font-size: 30px;
}

.row {
    height: 80px;
}
